<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="me.picta.phonegapaviary" version="0.0.1">
    
    <name>PhoneGapAviary</name>
    <description>PhoneGap plugin for integrating Aviary SDK</description>
    <license>MIT</license>
    <author>Grigory Kruglov</author>

    <keywords>cordova,aviary,phonegap</keywords>

    <platform name="ios">
        <source-file src="src/ios/PictaAviary.m" />
        <js-module src="www/PictaAviary.js" name="PictaAviary">
            <clobbers target="pictaPlugins.aviary" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="PictaAviary">
                <param name="ios-package" value="PictaAviary" />
            </feature>
        </config-file>

        <header-file src="src/ios/PictaAviary.h" />
    </platform>
</plugin>